.container {
    margin-top: 0px;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 60px;
  }

  .dashboard-cards {
    margin-top: 60px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 30px;
    color: #007bff;
    font-weight: bold;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .loading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  .card-link {
    text-decoration: none;
  }
  
  .hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-card:hover {
    transform: scale(1.05); /* Tăng kích thước thẻ khi rê chuột vào */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ */
  }
  
  .card-body {
    cursor: pointer;
  }
  
  .card-title {
    font-size: 1.4em;
  }
  
  .card-text {
    font-size: 1em;
    margin-top: 20px;
  }