.container {
  max-width: 1140px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, td {
  text-align: center;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
  position: relative;
}

th button {
  position: absolute;
  right: 0px; /* Move the button closer to the right edge */
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

th button:focus {
  outline: none;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

input.form-control {
  width: 300px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.page-item {
  margin: 0 5px;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
}

.page-item .page-link {
  color: #007bff;
  cursor: pointer;
}

.page-item .page-link:hover {
  color: #0056b3;
}

.page-link {
  padding: 8px 12px;
  border-radius: 5px;
}

.btn-link {
  color: #007bff;
}

.btn-link:hover {
  text-decoration: underline;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.close {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
  font-size: 14px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  font-size: 14px;
}

.btn-secondary {
  margin-right: 10px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
}